:root{
    --a:0;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {

    background-color: black;
    color: white;

}

.close {
    display: none;
}

.left {
    width: 25vw;
    padding: 14px;
}

.right {
    width: 75vw;
}

.home {
    padding: 10px;
    margin-block-end: 7px;
}
input{
    width:170px;
    height: 10px;
    flex:1;
    height:50px;
    background: transparent;
    font-size:1;
    color:#ffff;
}
.row button{
     background-color:transparent;
     border:0;
     outline:0;

}
.result-box ul{
    border-top:1px solid #999;
    padding:0 ;
    width:40px;
}
.result-box ul li{
    list-style: none;
    border-radius: 3px;
    padding:15px 10px;
    cursor: pointer;
}
.result-box ul li:hover{
    background: #999;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    list-style: none;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 78vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: --a;
    padding: 10px 0;
}

.footer a {
    color: gray;

}

.right {
    margin: 16px o;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    background-color: rgb(72, 70, 70);
    padding: 10px;
}

.header>* {
    padding: 4px;

}

.spotifyPlaylists {
    padding: 16px;
    animation:changeco 10s linear infinite;

}
@keyframes changeco{
    0%{
        background-color: #38270e;
    }
    15%{
        background-color: #5f8890;
    }
    30%{
        background-color: #49364e;
    }
    45%{
        background-color: #67213a;
    }
    60%{
        background-color: #0e055b;
    }
    75%{
        background-color: #073a1b;
    }
    90%{
        background-color: #28286a;
    }
    105%{
        background-color: #487a5c;
    }
    

}
.spotifyPlaylists h1{
    padding: 16px;

   
}

.CardContainer {
    margin: 30px;

    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    overflow-y: auto;
    max-height: 70vh;
    
}


.card {
    width: 180px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(37, 31, 31);
    position: relative;
    transition: all .9s;
    cursor:pointer;
}
.album-preview{
    position:fixed;
    top:20%; left:30%;
    min-height:70vh;
    width: 60vw;
   
    gap: 10px;
    background: rgba(0,0,0,.8);
    display:none;
    align-items: center;
    justify-content: center;


}
.album-preview .preview{
    display:none;
    padding: 2rem; 
    text-align: center;
    
    position:relative;
    margin:2rem;
    width:40rem;

}
.album-preview .preview.active{
    
    display: inline-block;
      
}

.album-preview .preview img{
    height: 15rem;
}
.album-preview .preview .invert{
    position:absolute;
    top: 15px; right:17rem;
    cursor: pointer;
    
    font-size: 4rem;

}
.album-preview .preview .invert:hover{
    transform: rotate(90deg);
}
.album-preview .preview .invert .love{
    padding:1rem 0;
    font-size: 1.7rem;
}
.album-preview .preview .invert .love i{
    font-size: 1.7rem;
    columns: red;
}

.card :before{
    content:'';
    position:relative;
    top:-2px;
    left:-2px;
    right:-2px;
    bottom:-2px;
    background: #fff;
    z-index: -1;

}
.card :after{
    content:'';
    position:relative;
    top:-2px;
    left:-2px;
    right:-2px;
    bottom:-2px;
    background: #fff;
    z-index: -1;
    filter:blur(40px);

}
.card:before, .card:after{
    background:linear-gradient(235deg,#89ff00,#060c21,#00bcd4);
}

.card:hover{
    background-color: #beb9b9;
    cursor: pointer;
    --a:1;
    box-shadow: 0 0 10px blueviolet ,0 0 20px blueviolet ,0 0 30px blueviolet;
}

.card>* {
    padding-top: 10px;
    
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {

    width: 28px;
    height: 28px;
    background-color: rgb(12, 77, 12);
    border-radius: 50%;
    border: 2px solid #000;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 168px;
    right: 17px;
    opacity: 1;
    transition: all 1s ease-out;


}

.buttons>* {
    margin: 0 12px;
}

.Signupbtn {
    background-color: rgb(72, 70, 70);
    color: rgb(204, 199, 199);
    font-weight: bold;
    font-size: 14px;
    background-color: rgb(127, 125, 135);
    border-radius: 60px;
    color: black;
    font-weight: bold;
    padding: 8px 15px;
    width: auto;
    cursor: pointer;

}

.signupbtn:hover {
    font-size: 16px;
    color: white;
}

.loginbtn {
    background-color: #464590;
    
    box-shadow: 0 0 10px blueviolet ,0 0 20px blueviolet ;
    border-radius: 60px;
    color: black;
    font-weight: bold;
    padding: 8px 15px;
    width: 80px;
    cursor: pointer;
}

.loginbtn:hover {
    font-weight: bold;
    width: 80px;
    padding: 10px 14px;

}

.playbar {
    position: fixed;
    bottom: 20px;
    filter: invert(1);
    background: #d2cdc6ce;
    border-radius: 10px;
    width: 90%;
    padding: 10px 0;
    width: 70vw;
    min-height: 40px;

}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 14px;


}

.songlist {
    height: 544px;
    overflow: auto;
    margin-bottom: 44px;
}

.hamburger {
    display: none;

}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.songlist ul {
    padding: 0 12px;
}
.songlist ul li{
    list-style-type: decimal;
    gap: 1px;
    display: flex;
    gap: 16px;
    
    cursor: pointer;
    margin: 10px 0;
    padding: 7px;
    border:2px solid rgb(120,182,140);
    box-shadow: 0 0 4px rgb(41,109,151), 0 0 9px rgb(43,226,147);
    border-radius: 5px;
    justify-content: space-between;
    padding: 12px 0;
}




.songlist ul li::before , .songlist ul li::after{
    
    content:'';
    position:absolute;
    left:100px;
    top:100px;
    background: linear-gradient(45deg,#e6fb04,#ff6600,#00ff66,#00ffff,#ff00ff,#ff0099,#6e0dd0,#ff3300,#099fff);
    background-size: 400%;
    width:calc(90% + 5px);
    height:calc(90% +6px);
    z-index: 2px;
    animation:animate 20s linear infinite;

}
@keyframes animate{
    0%{
        background-position: 0 0;

    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}
.songlist ul li::after{
    filter:blur(20px);
    
}

.songlist .info {
    font-size: 9px;
    width: 344px
}
.info div{
    word-break: break-all;

}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 70px;
    padding: 12px;

}

.seekbar {
    height: 0px;
    width: 99%;
    border: 2px solid rgb(120, 182, 140);
    position: absolute;
    bottom: 0.890px;
    border-radius: 60px;
    margin: 6px;
    cursor: pointer;
    box-shadow: 0 0 10px blueviolet  ;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: rgb(181, 146, 183);
    position: absolute;
    bottom: 6%;
    left: 0%;
    transition: left 0.5s;
    box-shadow: 0 0 10px blueviolet ,0 0 10px blueviolet  ;
}

.songbuttons img {
    cursor: pointer;
}
.timevol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.songinfo{
    color: rgb(89, 7, 7);
    padding: 0 12px;
    width: 250px;

}
.songtime{
    width:125px;
    color: rgb(89, 7, 7);
    padding: 0 12px;
}
.range{

}
.volume{
    display: flex;
   
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}
.range input{
    cursor:pointer;

}
.timevol{
     display:flex;
     justify-content: space-evenly;
     align-items: center;
     flex-direction: column;
     gap:3px;
}
.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

@media (max-width:1200px) {
    .left {
        padding:0;
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 266px;
        background-color: #000;
    }
    .songinfo, .songtime{
        width: auto;
    }

    .left .close img {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw -90px);
         


    }

    .seekbar {
        width: calc(100vw -110px);



    }

    .hamburger {
        display: block;
    }

    .right {
        margin: 0;
    }

    .card {
        width: 44vw;
    }

    .CardContainer {
        margin: 0;
        justify-content: center;
    }

    .close {
        display: block;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }
}
@media (max-width:500px){
    .card{
        width:80vw;
    }
    
}